.parent-container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child-container {
  width: 500px;
  max-width: 500px;
  overflow: auto;
  min-height: 600px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.btn {
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  width: 100%;
}